.desktop-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    flex-direction: column;
    color: white;
    padding: 10px;
    z-index: 1;
}

.desktop-icon p {
    margin: 1px;
}