.window {
    border: #c4c4c4 5px ridge;
    background-color: white;
}

.window-head {
    background-color: #010080;
    color: white;
    border-bottom: #c4c4c4 5px ridge;
    padding: 2px;
}
.window-head p {
    margin: 0px;
}